#contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 4rem 0rem;
  padding-bottom: 5rem;
  /* background: linear-gradient(90deg, transparent 68%, #111111 0%); */
}

#contactContainerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 68rem;
  height: fit-content;
  padding: 3rem 0rem;
}

/* Contact Left */
.contactLeft {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}

.contactHeading {
  font-size: 4.5rem;
  width: 100%;
}

.contactInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  background-color: #111111;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03);
  width: 22rem;
  height: 13rem;
  padding: 2.2rem;
  transition: all 0.5s ease-in-out;
}

.contactInfoDiv i {
  font-size: 3.2rem;
  color: white;
  transition: all 0.6s;
}

.contactInfoDiv:hover > i {
  transform: rotateY(360deg);
}

.contactInfoDiv > span {
  color: white;
  width: fit-content;
  font-size: 1.1rem;
}

.contactInfoDiv > span > i {
  color: white;
  font-size: 1.12rem;
  margin-left: 0.2rem;
}

.copiedText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  color: white;
  background-color: black;
  font-size: 0.8rem;
  font-weight: 100;
  letter-spacing: 0.7px;
  position: absolute;
  top: 33px;
  right: 0px;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem 1rem;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

/* Contact Right */
.contactRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111111;
  border-radius: 0.5rem;
  width: 100%;
  height: 34rem;
  margin-top: 4rem;
}

.contactImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  width: 34rem;
  height: 100%;
}

.contactImg img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.contactRight form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 34rem;
  height: 100%;
  padding: 2rem;
}

.contactInfoInputDiv {
  width: 100%;
  height: fit-content;
}

.contactInfoInputDiv > input {
  line-height: 150%;
  letter-spacing: 0.016rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  border: none;
  background-color: transparent;
  background-color: #000000;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03);
  outline: none;
  width: 100%;
  height: 4rem;
}

.contactInfoInputDiv > textarea {
  line-height: 150%;
  letter-spacing: 0.016rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  width: 100%;
  height: 7rem;
  background-color: #000000;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03);
}

.error {
  color: #b4b4b4;
  width: 100%;
  font-size: 0.8rem;
  height: fit-content;
  margin-top: 0.3rem;
  padding-left: 0.5rem;
}

#name {
  width: 100%;
  height: 4rem;
  padding-left: 0.62rem;
}

#email {
  width: 100%;
  height: 4rem;
  padding-left: 0.62rem;
}

#massage {
  width: 100%;
  padding: 0.62rem;
}

#submitBtn {
  background: transparent;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
}

#submitBtn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 2rem;
  width: fit-content;
  height: 2.5rem;
  padding: 0rem 1.25rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#submitBtn:hover span > svg {
  width: 9px;
  height: 9px;
  margin-left: 0.5rem;
}

#submitBtn span > svg {
  fill: black;
  width: 0px;
  height: 0px;
  margin-left: 0rem;
  transition: all 0.4s ease, all 0.4s ease;
}

/* Add User Submit Successfully PopUp Section*/
#popUp {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(8px);
  background-color: rgb(0 0 0 / 15%);
  position: fixed;
  top: 27%;
  left: 28%;
  width: 600px;
  height: 250px;
  border-radius: 1rem;
  font-size: 1.93rem;
}

/* #popUp::before {
  content: "";
  position: absolute;
  width: 100rem;
  height: 100rem;
  background-color: transparent;
} */

#popUp h1 {
  color: #b4b4b4;
}

#popUpBtn {
  font-size: 1rem;
  width: fit-content;
  height: 2.5rem;
  background: transparent;
  color: #b4b4b4;
  border: 2px solid #b4b4b4;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 0rem 3rem;
}

@media (max-width: 600px) {
  /* #contactContainer {
    padding-bottom: 0rem;
  } */

  #contactContainerBox {
    width: 100%;
    height: 100%;
  }

  .contactLeft {
    flex-direction: column;
  }

  .contactInfoDiv {
    margin-bottom: 1rem;
    width: 100%;
  }

  .contactRight {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .contactRight form {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 29rem;
    padding: 3rem 1.5rem;
  }

  .contactImg {
    width: 100%;
    height: 100%;
  }

  .contactImg img {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    aspect-ratio: 1;
  }

  .contactImg::before {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }

  #submitBtn {
    margin-top: 1rem;
  }

  #submitBtn span > svg {
    width: 9px;
    height: 9px;
    margin-left: 0.5rem;
  }
}
