#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 4rem;
  /* backdrop-filter: blur(10px); Apply blur effect */
}

.footerMobileText {
  display: none !important;
}

#footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#footer p {
  display: flex;
  flex-wrap: wrap;
  color: #b4b4b4;
  font-size: 0.8425rem;
  line-height: 130%;
  letter-spacing: 0.0025em;
  font-weight: 400;
  height: fit-content;
}

@media (max-width: 600px) {
  .footerDesktopText {
    display: none !important;
  }

  .footerMobileText {
    display: flex !important;
  }
}
