.hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 3.4rem;
  padding: 0rem 1.1rem;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.hamburgerNav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hamburgerNav-section.blur {
  backdrop-filter: blur(24px);
  background-color: rgba(0, 0, 0, 0.8);
}

.hamburgerNav-section.noBlur {
  background-color: rgba(0, 0, 0, 0.8);
}

.showHamburgerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 100%;
}

.showHamburgerBtn i {
  color: white;
  font-size: 1.5rem;
}

/* HamburgerNav */
.hamburgerNav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  backdrop-filter: blur(24px);
  background-color: rgba(0, 0, 0, 0.8);
  top: 0rem;
  right: 0rem;
  width: 0px;
  height: 100vh;
  /* padding: 5.5rem 1.25rem; */
  z-index: -1;
  transition: all 0.6s;
}

.navBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 2rem;
  margin-left: 1.25rem;
}

.navBtn span {
  text-wrap: nowrap;
  font-size: 1.685625rem;
  line-height: 130%;
  letter-spacing: -0.005em;
  font-weight: 400;
  color: white;
}

@media (max-width: 600px) {
  .hamburger {
    display: flex;
  }

  .webTitle img {
    width: 1.3rem;
  }

  .webTitle h4 {
    font-size: 1.1rem;
  }
}
