#linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 4rem 0rem;
  /* background: linear-gradient(90deg, #111111 68%, transparent 0%); */
}

#linksContainerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 68rem;
  height: fit-content;
  padding: 3rem 0rem;
}

.linksDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0.5rem;
  /* box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03); */
  width: 22rem;
  height: 13rem;
  padding: 2.2rem;
  transition: all 0.5s ease-in-out;
}

.linksDiv > i {
  height: fit-content;
  font-size: 4rem;
  transition: all 0.6s;
}

.linksDiv a {
  text-decoration: none;
  width: fit-content;
  font-size: 1.12rem;
  height: 1.5rem;
}

.linksDiv a:hover {
  border-bottom: 1px solid white;
}

.linksDiv:hover i {
  transform: rotateY(360deg);
}

.linksDiv a > svg {
  fill: white;
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 0.1rem;
}

@media (max-width: 600px) {
  #linksContainer {
    padding-bottom: 0rem;
    width: 100%;
  }

  #linksContainerBox {
    flex-direction: column;
  }

  .linksDiv {
    margin-bottom: 1rem;
    width: 100%;
  }
}
