.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0rem;
  width: 100%;
  height: 3.4rem;
  transition: background-color 0.3s ease; /* Smooth transition */
  z-index: 3;
}

.navbarContainer.blur {
  backdrop-filter: blur(24px);
  background-color: rgba(0, 0, 0, 0.8);
}

.navbarContainer.noBlur {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbarContainerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68rem;
  height: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.navbar-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  margin: 0rem 1.5rem;
}

.navbar-content div span {
  color: #b4b4b4;
  font-size: 0.87rem;
  cursor: pointer;
  transition: all 0.2s;
}

.navbar-content div span:hover {
  color: white;
}

.webTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.webTitle img {
  margin-right: 0.6rem;
  width: 1.2rem;
  height: fit-content;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 3.5rem;
}

.location span {
  font-size: 0.9rem;
  color: white;
  width: fit-content;
  height: fit-content;
}

@media (max-width: 600px) {
  .navbarContainer {
    display: none;
  }
}
