#workContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 4rem 0rem;
  /* background: linear-gradient(90deg, transparent 68%, #111111 0%); */
}

#workContainerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 68rem;
  height: fit-content;
}

.workHeading {
  font-size: 4.5rem;
  width: 100%;
}

.allProjectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.projectBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #111111;
  box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
  width: 100%;
  height: 34rem;
  margin: 3rem 0rem;
  transition: all 0.5s ease-in-out;
}

.workImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  width: 34rem;
  height: 100%;
}

.workImg img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.secondProjectBox .workImg > img {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 34rem;
  height: 100%;
  padding: 3rem;
}

.projectPara {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 1.5rem;
}

.projectPara p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
  margin-bottom: 1.5rem;
}

.projectPara p > span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: black;
  font-size: 0.9rem;
  font-weight: 500;
  width: fit-content;
  height: 2rem;
  padding: 0rem 1rem;
}

.viewBtnBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 1.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.viewBtnBox a {
  color: white;
  font-size: 0.95426rem;
  text-decoration: none;
  width: fit-content;
  height: 100%;
}

.viewBtnBox a:hover {
  border-bottom: 1px solid white;
}

.viewBtnBox a > svg {
  fill: white;
  width: 0.625rem;
  height: 0.625rem;
  margin-left: 0.1rem;
}

.seeMoreBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

#seeMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid white;
  border-radius: 2.1rem;
  width: fit-content;
  height: 2.5rem;
  padding: 0rem 1.25rem;
  cursor: pointer;
  transition: all 0.2s;
}

#seeMoreBtn:hover {
  opacity: 1;
  background-color: hsl(0deg 0% 91.37%);
}

#seeMoreBtn:hover a > svg {
  width: 0.625rem;
  height: 0.625rem;
  margin-left: 0.5rem;
}

#seeMoreBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

#seeMoreBtn a > svg {
  fill: #000000;
  width: 0rem;
  height: 0rem;
  margin-left: 0rem;
  transition: all 0.4s ease, all 0.4s ease;
}

@media (max-width: 600px) {
  #workContainer {
    padding-bottom: 3rem;
  }

  #workContainerBox {
    width: 100%;
  }

  .projectBox {
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
  }

  .workImg {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    width: 100%;
  }

  .workImg img {
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    aspect-ratio: 1;
  }

  .secondProjectBox {
    flex-flow: column;
  }

  .projectContent {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    padding: 3rem 1.5rem;
  }

  #seeMoreBtn:hover a > svg {
    width: 0.625rem;
    height: 0.625rem;
    margin-left: 0.4rem;
  }

  #seeMoreBtn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }

  #seeMoreBtn a > svg {
    fill: #000000;
    width: 0.625rem;
    height: 0.625rem;
    margin-left: 0.4rem;
  }
}
