* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
  /* font-variant-caps: ; */
}

body {
  background-color: black;
  overflow-y: auto;
  overflow-x: scroll;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all 0.4s;
}

body::-webkit-scrollbar {
  height: 0%;
  width: 0%;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 400;
}

h2 {
  font-size: 1.8rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  font-weight: 400;
}

p {
  line-height: 160%;
  letter-spacing: 0.016rem;
  font-size: 0.95426rem;
  font-weight: 400;
}

.headingColor {
  color: white;
}

.boxBgColor {
  background-color: #111111;
}

.navBgColor {
  background-color: rgba(0, 0, 0, 0.8);
}

.btnStyle {
  color: black;
  background-color: white;
}

.techStyle {
  color: white;
  background-color: black;
}

.paraColor {
  color: #b4b4b4;
}

.inputBoxStyle {
  color: white;
  background-color: black;
}

i {
  color: white;
}

/* Animation work */
.animationBox {
  opacity: 0;
  transform: translateY(10rem);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animationBox.animate {
  opacity: 1;
  transform: translateY(0);
}

.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.backToTop div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  /* box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03); */
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.backToTop i {
  font-size: 1.1rem;
  color: white;
}

/* Download CV */
.downloadCV {
  display: flex;
  position: fixed;
  bottom: 4rem;
  right: 5rem;
  height: fit-content;
  width: fit-content;
}

.downloadCV a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#downloadCV a:hover {
  opacity: 1;
  background-color: hsl(0deg 0% 91.37%);
}

.downloadCV a .onHoverText {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.7px;
  position: absolute;
  bottom: 50%;
  /* box-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0.007),
    0px 0px 1.8px rgba(0, 0, 0, 0.01), 0px 0px 3px rgba(0, 0, 0, 0.012),
    0px 0px 4.6px rgba(0, 0, 0, 0.014), 0px 0px 6.8px rgba(0, 0, 0, 0.016),
    0px 0px 10.1px rgba(0, 0, 0, 0.018), 0px 0px 15.1px rgba(0, 0, 0, 0.02),
    0px 0px 24px rgba(0, 0, 0, 0.023), 0px 0px 45px rgba(0, 0, 0, 0.03); */
  width: fit-content;
  height: 0rem;
  padding: 0rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.downloadCV a:hover .onHoverText {
  bottom: 80px;
  height: fit-content;
  padding: 0.5rem 1rem;
  opacity: 1;
}

.downloadCV a > i {
  font-size: 1.5rem;
  background-color: transparent !important;
}

@media (max-width: 600px) {
  body {
    padding: 0rem 1.25rem;
    transition: all 0.5s;
  }

  h1 {
    font-size: 2.525625rem;
    line-height: 110%;
    letter-spacing: -0.0124em;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.94625rem;
    line-height: 150%;
    letter-spacing: 0.0016em;
  }

  .downloadCV {
    display: flex;
    position: fixed;
    right: 1.2rem;
    height: fit-content;
    width: fit-content;
  }
}
